body {
  /* font-family: 'Pacifico', serif; */
  color: rgba(16, 16, 16, 0.8);
  /* background-color: rgb(172,189,161); */
  background: #BABABA;
  background: -moz-linear-gradient(top, #BABABA 0%, #ACBDA1 50%, #6F7A68 100%);
  background: -webkit-linear-gradient(top, #BABABA 0%, #ACBDA1 50%, #6F7A68 100%);
  background: linear-gradient(to bottom, #BABABA 0%, #ACBDA1 50%, #6F7A68 100%);
  height: 2650px;
}
.cursive {
  font-family: 'Pacifico', serif;
}

.name{
  border: 10px rgba(16, 16, 16, 0.7);
  border-style: double;
  border-radius: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 80px;
  margin-right: 100px
  color: rgba(16, 16, 16, 0.7);
}
.center {
  text-align: center;
  margin-top: auto;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px rgba(16, 16, 16, 0.8);
  font-size: 25px;
  gap: 70px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 500px;
  text-align: center;
}
.boxdesign {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #898989 0%, #CECECE 100%);
  background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #898989 0%, #CECECE 100%);
  background: linear-gradient(135deg, #FFFFFF 0%, #898989 0%, #CECECE 100%);
  border: 10px rgba(16, 16, 16, 0.7);
  border-style: double;
  border-radius: 100px;
  font-size: 20px;
  margin: 50px;
  padding-left: 10px;
  padding-bottom: 20px
}


.description,
.instructions1,
.instructions2,
.instructions3{
  width: 500px;
  padding: 10px;
  margin-left: 500px;
}
.description {
  margin-top: -500px;
  margin-bottom: 300px;
  text-align: center;
}
.instructions1 {
  text-align: left;
  margin-bottom: 100px;
  margin-top: -1440px;
  height: 1750px;
}
.instructions2 {
  text-align: left;
  margin-bottom: 100px;
  margin-top: -1250px;
  height: 1600px;
}
.instructions3
{
  text-align: left;
  margin-bottom: 100px;
  margin-top: -900px;
  height: 550px;
}
.ingredients {

  width: 300px;
  margin: 10px;
  padding: 20px;
  margin-top: 20px;
}

.ingredients3 {

  width: 300px;
  margin: 10px;
  padding: 20px;
  margin-top: -100px;
}

a:link {
  color: rgba(16, 16, 16, 0.8);
  text-decoration: none;
}

a:visited {
  color: rgba(16, 16, 16, 0.6);
   text-decoration: none;
}

a:hover {
  color: rgba(16, 16, 16, 0.5);
  font-size: 28px;
  text-decoration: underline;
}
.back3 {
  padding-top: 350px;
}

div img {
  width:360px;
  height:500px;
  margin-left: 10px;
  border: 3px solid rgba(16, 16, 16, 0.7);
  border-radius: 100px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}
